<p>
  <img
    height="30px"
    src="{{site.url}}/img/small-logo-alone.svg"
    alt="small logo"
  /><br />
  Associazione culturale Speck&amp;Tech — C.F. 96106760224 - P.IVA
  IT02467530222<br />
  <div class="socials">
    <div>
      <a target="_blank" href="//t.me/speckandtech">Telegram</a>
    </div>
    <div>
      <a target="_blank" href="//bit.ly/speck-slack">Slack</a>
    </div>
    <div>
      <a target="_blank" href="//fb.me/speckandtech/">Facebook</a>
    </div>
    <div>
      <a target="_blank" href="//instagr.am/speckandtech">Instagram</a>
    </div>
  </div>
  <a style="color: white;" href="{{site.url}}/about">About</a> -
  <a style="color: white;" href="{{site.url}}/code-of-conduct"
    >Code of conduct</a
  >
</p>
