.footer {
  position: relative;
  background: $red;
  padding: 24px 8px;
  color: white;
  text-align: center;
  margin-top: 56px;
  @media only screen and (min-width: 768px) {
    padding: 32px 16px;
  }
  a {
    color: white;
    &:visited {
      color: white;
    }
  }
  .socials {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      margin: 16px;
    }
  }
}
