.topbar__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: all 0.35s ease-in-out;
  z-index: 2;
}

nav {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  overflow: hidden;
  height: 32px;
  @media only screen and (min-width: 768px) {
    height: 56px;
  }

  .topbar__right {
    display: flex;
    align-items: center;
  }
  .topbar__right__element {
    margin: 0 8px;
    .mobile {
      display: none;
      @media only screen and (min-width: 992px) {
        display: block;
      }
    }
    a {
      font-size: 20px;
      text-decoration: none;
      color: #0d0c22;
      &:hover {
        color: #e7424f;
      }
    }
    &.claim {
      text-transform: uppercase;
    }
  }
  .logo {
  }
}

@include mobile {
  nav {
    .logo {
    }
  }
}
