nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  font-size: 14px;
  // @extend .container;
  height: 56px;
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .topbar__right {
    display: flex;
    align-items: center;
  }
  // ul {
  //   list-style: none;
  // }

  // li {
  //   vertical-align: middle;
  //   display: inline-block;
  // }

  .logo {
    //   position: absolute;
    //   left: 0;
  }
}

@include mobile {
  nav {
    ul {
      text-align: center;
    }

    .logo {
      // margin: 12px 0 10px 0;
      // position: relative;
      // display: block;
    }
  }
}
