@import "reset";
@import "syntax";
@import "vars";
@import "footer";
@import "homepage";
@import "archive";
@import "event";
@import "retreat";
// @import "font";
@import "navbar";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

body {
  font-size: 16px;
  // font-family: "Neo Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

p {
  line-height: 1.65em;
}

a {
  color: $red;

  &:visited {
    color: darken($red, 20%);
  }

  &:hover {
    color: darken($red, 20%);
  }
  &.noline {
    text-decoration: none;
  }
}

.underline {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  position: relative;
  padding: 0 8px;
  @media only screen and (min-width: 768px) {
    padding: 0 16px;
  }
  @media only screen and (min-width: 992px) {
    padding: 0 24px;
  }
}

hr {
  border: 2px solid #e5e5e5;
  margin-bottom: 2em;
}
